/* 背景画像の設定 */

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url('resource/image/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
    /* これ必要か？ */
    font-family: sans-serif;
}

/* Header Area */

header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(75, 75, 75, .5);
}

header h1 {
    color: white;
    font-size: 5vw;
    text-shadow: 5px 5px 0 #777;
    margin: 0;
}

header nav {
    margin-top: 15px;
    text-align: center;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 3px 30px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    position: relative;
}

header nav a:hover {
    background-color: #333;
}

header nav a svg {
    width: 1em;
    height: 1em;
    display: block;
    margin: auto;
    /* これ必要か？ */
}

/* Content Area */

.content {
    background-color: rgba(10, 10, 10, .75);
}

.app-preview-sec {
    padding: 5rem 0;
    text-align: center;
}

.app-preview-sec h2 {
    font-size: 3.5vw;
    color: #DDD;
    margin: 0px;
}

.app-preview-sec video {
    height: 60vh;
    max-height: 1000px;
    margin-top: 10px;
}

.app-preview-sec div a {
    font-size: 17px;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 2px 20px;
    background-color: #777;
    border-radius: 30px;
    margin: 7px 5px 0px 5px;
}

.app-preview-sec div a:hover {
    background-color: black;
}